@import "@radix-ui/colors/gray.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--gray-1);
  --foreground: var(--gray-11);
  --primary: var(--gray-9);
  --secondary: var(--gray-10);
  --accent-1: var(--gray-3);
  --accent-2: var(--gray-4);
  --accent-3: var(--gray-5);

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.post-columns {
  grid-template-columns: repeat(auto-fill, minmax(275px, 2fr));
}

